body{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
    display: inline;
}

a{
    text-decoration: none;
}

.top-content {
    height: 1rem;
}

.top-left {
    margin-left: 0.3rem;
    float: left;
    width: 3rem;
}

.top-left-title {
    display: block;
    float: left;
    padding-top: 0.2rem;
    font-size: 0.4rem;
    font-weight: bold;
    font-family: 微软雅黑, serif;
    color: brown;
}

.top-center{
    float: left;
}

.top-right{
    float: right;
    margin-right: 0.2rem;
}

.example{
    padding: 0.08rem 0.3rem;
    font-size: 0.3rem;
    color: #111;
    font-weight: bold;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    border-radius: 0.25rem;
}
.example:hover{
    background-color: #4ea4dc;
    color: darkred;
}

.bottom-content {
    font-size: 0.25rem;
    text-align: center;
}
.separator{
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.top-self{
    float: right;
    margin-right: 0.2rem;
    margin-top:0;
}
.bell{
    width: 0.6rem;
    margin: 0.2rem 0.2rem;
}
.bell:hover{
    content: url("../img/icon_bell_op.png");
}
.head_img{
    /*border: 1px;*/
    /*margin: -0.4rem 0.2rem 0.4rem;*/
    margin: 0 0.45rem;
    border-radius: 50%;
    overflow: hidden;
    /*border: 0.1rem solid brown;*/
}
.head_img img{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    border: 0.05rem solid seagreen;
    /*margin-top: -0.05rem;*/
    margin-bottom: 0.15rem;
    /*border-width: 0.1rem;*/
    /*-moz-border-bottom-colors: red orange yellow green cyan blue purple;*/
    /*-moz-border-left-colors: red orange yellow green cyan blue purple;*/
    /*-moz-border-right-colors: red orange yellow green cyan blue purple;*/
    /*-moz-border-top-colors: red orange yellow green cyan blue purple;*/
}

.self-frame{
    margin-top: -0.1rem;
    display: none;
    position: absolute;
    right: 0.2rem;
    width: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: white;
}
.self-frame li{
    display: block;
    text-align: center;
    margin-left: -0.4rem;
    padding: 0.05rem 0;
    font-size: 0.25rem;
    width: 1.2rem;
}
.self-frame li:hover{
    background-color: #dddddd;
}