a{
    text-decoration: none;
}

.top-content {
    height: 1rem;
}

.top-left {
    margin-left: 0.3rem;
    float: left;
    width: 3rem;
}

.top-left-title {
    display: block;
    float: left;
    padding-top: 0.2rem;
    font-size: 0.4rem;
    font-weight: bold;
    font-family: 微软雅黑, serif;
    color: brown;
}

.top-center{
    float: left;
}

.top-right{
    float: right;
    margin-right: 0.2rem;
}

.example{
    padding: 0.05rem 0.3rem;
    font-size: 0.3rem;
    color: #111;
    font-weight: bold;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    border-radius: 0.25rem;
}
.example:hover{
    background-color: #4ea4dc;
    color: darkred;
}



.bottom-content {
    /*height: 1rem;*/
    text-align: center;
}