
.self-frame{
    display: none;
    position: absolute;
    right: 0.2rem;
    width: 0.8rem;
    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
    background-color: white;
}
.self-frame li{
    display: block;
    text-align: center;
    margin-left: -0.4rem;
    padding: 0.05rem 0;
    font-size: 0.25rem;
    width: 1rem;
}
.self-frame li:hover{
    background-color: #dddddd;
}

.middle{
    background-color: #ccffff;
}
.search{
    height: 0.8rem;
    padding-top: 0.2rem;
}
.search-container{
    margin: 0 auto;
    width: 7rem;
}
.search-text{
    width: 5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    height: 0.6rem;
    font-size: 0.3rem;
    border-radius: 0.3rem;
}
.search-btn{
    width: 1rem;
    height: 0.6rem;
    font-size: 0.25rem;
    font-weight: bold;
    border-radius: 0.3rem;
    cursor: pointer;
}
.search-btn:hover{
    background-color: grey;
    color: white;
}
.search-choose{
    margin: 0.1rem 0 0.1rem -0.3rem;
}
.search-word{
    padding: 0.05rem 0.1rem;
    font-size:0.25rem;
    border-radius: 10%;
    cursor: pointer;
}
/*.search-word:hover{*/
/*    background-color: grey;*/
/*    color: white;*/
/*}*/
.search-list{
    display: none;
    position: absolute;
    margin-top: -0.02rem;
    margin-left: 0.3rem;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
    width: 3.8rem;
    background-color: white;
    border: 1px solid black;
}
.search-li{
    display: block;
    font-size: 0.25rem;
    margin-left: -0.6rem;
    padding: 0.05rem 0.2rem 0.05rem;
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
}
.search-li:hover{
    background-color: #ddd;
}
.row{
    display: block;;
    width: 18rem;
    margin: 0 auto;
    border: 1px solid blue;
}
.one-book{
    float: left;
    border: 1px solid black;
    margin: 0.2rem 0.28rem;
    width: 3rem;
    height: 5.5rem;
    text-align: center;
}
.img-books{
    margin-top: 0.2rem;
    width: 1.854rem;
    height: 3rem;
}

.pag-chs{
    display: table;
    margin: 0.2rem auto;
    padding-bottom: 0.2rem;
    /*width: 8.4rem;*/
    height: 0.6rem;
    text-align: center;
}
.pagination{;
    height: 0.4rem;
}
.pag-num{
    display: block;
    float: left;
    margin: 0 0.1rem;
    padding-top: 0.08rem;
    width: 0.5rem;
    height: 0.42rem;
    text-align: center;
    border: 1px solid deepskyblue;
    border-radius: 20%;
}
.pag-fl{
    width: 0.8rem;
}
.pag-num:hover{
    background-color: rgba(200,200,200,0.5);
}