ul{
    padding: 0;
    margin: 0;
}
.middle{
    background-color: #ccffff;
}
.middle-container{
    width: 14rem;
    margin: 0 auto;
    padding: 0.2rem 0;
}

.head-frame{
    height: 4rem;
    background-color: white;
    border-radius: 0.5rem;
}
.user-head{
    float: left;
    width: 3.5rem;
    height: 4rem;
    /*border: 1px solid blue;*/
}
/*原方案 以防万一先留着*/
/*.user-head img{*/
/*    display: block;*/
/*    width: 2rem;*/
/*    height: 2rem;*/
/*    border-radius: 50%;*/
/*    border: 0.1rem solid brown;*/
/*    margin: 0.3rem auto;*/
/*}*/
/*.change-head{*/
/*    display: block;*/
/*    width: 1.2rem;*/
/*    height: 0.6rem;*/
/*    padding: 0.15rem 0.15rem 0;*/
/*    background-color: lightskyblue;*/
/*    font-size: 0.3rem;*/
/*    font-weight: bold;*/
/*    border-radius: 0.25rem;*/
/*    margin: 0 auto;*/
/*}*/
/*.change-head:hover{*/
/*    background-color: deepskyblue;*/
/*    color: white;*/
/*}*/
/*.chooseImg{*/
/*    display: none;*/
/*}*/
.change-hd{
    position: relative;
    cursor: pointer;
}
.change-hd img{
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.1rem solid brown;
    margin: 0.4rem auto;
}
.change-hd div{
    position: absolute;
    display: none;
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: rgba(120,120,120,0.4);
    text-align: center;
    line-height: 2.5rem;
    font-size: 0.4rem;
    margin-left: 0.5rem;
    margin-top: -3rem;
}
.chooseImg{
    display: none;
}

.user-data-frame{
    float: right;
    width: 10.5rem;
    height: 4rem;
    /*margin-top: -0.2rem;*/
    /*border: 1px solid red;*/
}
.user-data-top{
    padding-top: 0.2rem;
    height: 1.2rem;
}
.user-data-top-username{
    float: left;
    font-size: 0.6rem;
    /*font-family: 宋体;*/
    margin: 0.2rem;
}
.user-data-top p{
    float: left;
    font-size: 0.3rem;
    margin: 0.2rem;
    padding-top: 0.2rem;
    color: grey;
}
.user-data-center{
    padding-top: 0.15rem;
    height: 0.6rem;
    padding-left: 0.2rem;
    /*margin-top: -0.2rem;*/
}
.user-data-center ul li{
    float: left;
}
.user-data-center ul li div{
    float: left;
    margin: 0 0.1rem;
}
.user-data-center ul li .user-data-num{
    font-size: 0.4rem;
}
.user-data-center ul li .user-data-name{
    color: grey;
    font-size: 0.3rem;
    padding-top: 0.1rem;
}
.user-data-center ul li .sp{
    height: 0.5rem;
    width: 0;
    border: 0.01rem solid grey;
}
.user-data-bottom{
    padding-top: 0.2rem;
    /*height: 1.6rem;*/
    /*width: 9rem;*/
    /*border: 1px solid blue;*/
}
.user-Signature{
    float: left;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    font-size: 0.3rem;
    /*color: grey;*/
}
.user-Signature-data{
    /*display: block;*/
    float: left;
    line-height: 0;
    /*margin: 0.2rem;*/
    margin-top: 0;
    padding: 0.4rem 0.3rem 0.3rem;
    /*padding-top: 0;*/
    width: 8rem;
    height: 0.4rem;
    font-size: 0.23rem;
    /*border: 0.02rem solid #dddddd;*/
    border-radius: 0.2rem;
}
/*.user-Signature-data:hover{*/
/*    background-color: rgba(125,125,125,0.3);*/
/*    !*border: 0.05rem solid white;*!*/
/*}*/

.per-frame{
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
    padding-top: 0.1rem;
    /*padding-bottom: 0.3rem;*/
}
.per-title{
    font-size: 0.4rem;
    margin-left: 0.8rem;
    /*margin-top: 0.3rem;*/
    padding: 0;
}
.per-change-check{
    float: right;
    margin-top: -0.8rem;
    margin-right: 0.6rem;
    padding: 0.1rem 0.2rem;
    border-radius: 0.3rem;
    font-size: 0.3rem;
    font-weight: bold;
    cursor: pointer;
}
.per-change-check:hover{
    background-color: #dddddd;
    color: blue;
}
.per-sp{
    height: 0;
    width: 95%;
    margin: 0 auto;
    border: 0.02rem solid grey;
}
.per-container{
    margin: 0.2rem 0.5rem;
    position: relative;
}
.per-container li{
    display: block;
    height: 0.8rem;
    /*width: 9rem;*/
    /*background-color: #4ea4dc;*/
    margin-top: 0.2rem;
}
.per-data-name{
    float: left;
    font-size: 0.3rem;
    width: 1.2rem;
    height: 0.4rem;
    color: #808080;
    padding: 0.1rem 0;
    margin-left: 0.3rem;
}
.us-data-name{
    float: left;
    font-size: 0.3rem;
    width: 1.2rem;
    height: 0.4rem;
    color: #808080;
    padding: 0.1rem 0;
    margin-left: 0.3rem;
}
.per-data-text{
    margin-left: 0.3rem;
    font-size: 0.3rem;
    border: 0;
    border-bottom: 0.02rem solid lightskyblue;
    border-radius: 0.1rem;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}
.per-data-text:hover{
    background-color: #f5f5f5;
}
.us-data-text{
    margin-left: 0.3rem;
    font-size: 0.3rem;
    border: 0;
    border-bottom: 0.02rem solid lightskyblue;
    border-radius: 0.1rem;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}
.us-data-text:hover{
    background-color: #f5f5f5;
}
.per-data-sex{
    float: left;
    /*margin-left: 0.3rem;*/
    font-size: 0.3rem;
    margin-top: 0.1rem;
    /*padding-top: 0.1rem;*/
}
.sex-b{
    margin-top: 0.2rem;
    margin-left: 0.4rem;
    margin-right: 0.1rem;
}
#per-data-sign{
    height: 1.6rem;
}
.per-data-Signature{
    /*height: 1.6rem;*/
    width: 6rem;
    font-size: 0.3rem;
}


.data-frame{
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
    padding-top: 0.1rem;
    padding-bottom: 1rem;
}

.log-btn{
    font-size: 0.3rem;
    padding: 0.1rem 0.2rem;
    border-radius: 0.3rem;
}

.log-btn:hover{
    background-color: #dddddd;
    color: blue;
}
.log-record-li{
    float: left;
    margin: 0 0.2rem;
}
.log-out-li{
    float: left;
}
.log-out-li div{
    font-size: 0.25rem;
    margin-left: 0.57rem;
}

.per-container .change-btn-li{
    display: block;
    margin-top: -0.6rem;
    padding-bottom: 0.3rem;
    /*margin-bottom: 0.3rem;*/
}
.change-sure{
    display: block;
    float: left;
    width: 1.6rem;
    font-size: 0.35rem;
    font-weight: bold;
    border: 0.05rem solid lightskyblue;
    background-color: #aaddff;
    border-radius: 0.2rem;
    padding: 0.05rem 0.1rem;
    /*margin: -0.3rem 0 0 3.6rem;*/
    margin-left: 3.6rem;
    margin-bottom: 0.6rem;
    cursor: pointer;
}
.change-sure:hover{
    background-color: deepskyblue;
    color: white;
}
.change-cancel{
    /*display: none;*/
    float: left;
    width: 1.3rem;
    font-size: 0.35rem;
    font-weight: bold;
    border: 0.05rem solid lightskyblue;
    background-color: #fff;
    border-radius: 0.2rem;
    padding: 0.05rem 0.1rem;
    /*margin: -0.68rem 0 0 7.2rem;*/
    margin-left: 2.4rem;
    text-align: center;
    cursor: pointer;
}
.change-cancel:hover{
    background-color: deepskyblue;
    color: white;
}

.pas-eye{
    float: right;
    margin-right: 50%;
    width: 0.6rem;
    cursor: pointer;
}

.area-frame{
    position: absolute;
    display: none;
    left: 1.8rem;
    width: 3.8rem;
    height: 2rem;
    padding: 0.1rem 0.1rem 0;
    background-color: #fff;
    font-size: 0.25rem;
    border-radius: 0.2rem;
    border: 0.02rem solid lightskyblue;
}
.area-left{
    float: left;
    width: 1.85rem;
    height: 2rem;
    /*border-radius: 0.2rem;*/
    /*border: 0.05rem solid black;*/
    overflow-y: auto;
    overflow-x: auto;
}
/*.area-left::-webkit-scrollbar{*/
/*    !*width: 0.1rem;*!*/
/*    !*height: 0.05rem;*!*/
/*}*/
.area-right{
    float: right;
    width: 1.85rem;
    height: 2rem;
    /*border: 0.05rem solid black;*/
    overflow-y: auto;
    overflow-x: auto;
}
.area-frame .area-left li{
    height: 0.3rem;
    width: 1.7rem;
    margin-top: 0;
    padding: 0.1rem 0 0.1rem 0.2rem;
    white-space: nowrap;
    cursor: pointer;
}
.area-frame .area-left li:hover{
    background-color: #f0f0f0;
}
.area-frame .area-right li{
    height: 0.3rem;
    width: 1.6rem;
    margin-top: 0;
    padding: 0.1rem 0 0.1rem 0.2rem;
    white-space: nowrap;
    cursor: pointer;
}
.area-frame .area-right li:hover{
    background-color: #f0f0f0;
}


.updatePortraitBtn{
    display: none;
    font-size: 0.3rem;
    font-weight: bold;
    margin: -0.3rem auto 0;
    width: 1.6rem;
    height: 0.6rem;
    padding: 0.1rem;
    border: 0.01rem solid black;
    background-color: lightskyblue;
    border-radius: 0.2rem;
}
.updatePortraitBtn:hover{
    background-color: #4ea4dc;
    color: white;
}