#{
    margin: 0;
    padding: 0;
},

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
    display: inline;
}

body{
    background-color: #ddd;
}

.top-content{
    text-align: center !important;
}
.top-left {
    margin: 0 auto !important;
    float: none !important;
    width: 5rem !important;
}
.top-left-title{
    float: none !important;
    font-size: 0.7rem !important;
}

/*.title{*/
/*    width: 3rem;*/
/*    height: 1rem;*/
/*    margin: 0.1rem auto;*/
/*}*/

.middle{
    margin-top: -0.5rem;
    height: 9rem;
}

.container{
    position: relative;
    left: 50%;
    margin-left: -4rem;
    width: 8rem;
    height: 8.5rem;
    background-color: #fff;
    border-radius: 1.5rem;
    opacity: 0.8;
}

.frame-title{
    width: 5rem;
    height: 0.5rem;
    margin: 0 auto;
    padding-top: 0.6rem;
    padding-bottom: 0.1rem;
    border: 0;
    border-bottom: 0.05rem solid #4ea4dc;
}

.title-pwdFind{
    margin-left: 1.5rem;
    font-size: 0.4rem;
    font-weight: bold;
    text-align: center;
    color: #4ea4dc;
}

.pwdFind {
    width: 5.5rem;
    margin: 0 auto;
}

.input-text{
    width: 5rem;
    height: 0.6rem;
    margin-top: 0.4rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.3rem;
}

.input-ver{
    margin-top: 0.3rem;
    width: 5.6rem;
    height: 1rem;
}

.input-text-ver{
    padding-left: 0.3rem;
    width: 3.4rem;
    height: 0.6rem;
    font-size: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.3rem;
}

.btn-ver{
    color: deepskyblue;
    width: 1.7rem;
    height: 0.6rem;
    font-size: 0.25rem;
    background-color: white;
    border: 0;
    cursor: pointer;
}

.little-tips{
    color: grey;
    margin-top: 0.1rem;
    font-size: 0.2rem;
}

.btn-next{
    width: 2.4rem;
    height: 0.8rem;
    margin-left: 0.2rem;
    margin-top: 0.4rem;
    border-radius: 0.05rem;
    text-align: center;
    font-size: 0.3rem;
    font-weight: bold;
    color: white;
    background-color: #4ea4dc;
    border: 0;
    cursor: pointer;
}

.btn-next:hover{
    background-color: lightskyblue;
}

.btn-back{
    position: relative;
    left: 3rem;
    top: -1.2rem;
    width: 2.4rem;
    height: 0.8rem;
    margin-top: 0.4rem;
    border-radius: 0.05rem;
    text-align: center;
    font-size: 0.3rem;
    font-weight: bold;
    color: #4ea4dc;
    background-color: white;
    border: 1px solid #4ea4dc;
    cursor: pointer;
}

.btn-back:hover{
    background-color: lightskyblue;
    color: white;
}

.alert{
    position: absolute;
    z-index: 101;
    left: 48%;
    top: 1.8rem;
    color: red;
    margin-left: -1rem;
    padding: 0.05rem 0.1rem;
    text-align: center;
    font-weight: bold;
    background-color: white;
    border: 0.03rem solid black;
}

.success-tips{
    color: green;
    font-size: 0.25rem;
    margin-left: 2.1rem;
    margin-top: -1rem;
    font-weight: bold;
}