#{
    magrin: 0;
    padding: 0;
},

/* // TODO I can't understand why this pictures not display normally. Save to the login.css */
body {
    background-image: url("https://pixabay.com/get/g97ddc7014e1d68648479453729dbfc2456ea2ce771d17d83f0f179596abd6177d95eb94debc364b5962a4fc58796b8fb62159b483c386d113c656422414ad798_1280.jpg");
}

.top-content {
    height: 0.5rem;
}

.top-left {
    margin: 0.3rem;
    float: left;
    width: 3rem;
}

.top-left-title {
    float: left;
    font-size: 0.3rem;
    font-family: 微软雅黑, serif;
    color: brown;
}

.middle-container {
    position: absolute;
    left: 50%;
    top: 6rem;
    margin-top: -4rem;
}

.frame-register {
    position: absolute;
    left: 3rem;
    margin-top: -1rem;
    height: 8.5rem;
    width: 6rem;
    background-color: white;
    border-radius: 1rem;
    opacity: 0.9;
}

.register-title {
    font-size: 0.4rem;
    font-family: 微软雅黑, serif;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 0.5rem;
}

.register-input {
    margin-left: 1rem;
    margin-top: 0.3rem;
    height: 0.8rem;
    width: 4rem;
}

.register-text {
    width: 3.6rem;
    height: 0.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-size: 0.3rem;
    font-family: 微软雅黑, serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.3rem;
}

.register-password {
    width: 3.2rem;
    padding-right: 0.6rem;
}

.pas-eye {
    position: absolute;
    left: 4.5rem;
    top: 2.7rem;
    width: 0.4rem;
    height: 0.4rem;
}


.little-tips {
    margin-top: 0.05rem;
    font-size: 0.15rem;
    color: darkolivegreen;
}

/* 验证码输入框 */
.verifyCode {
    width: 1.8rem;
    height: 0.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-size: 0.25rem;
    font-family: 微软雅黑, serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.3rem;
}

/* 验证码按钮 */
.emailCodeBtn {
    float: right;
    width: 1.5rem;
    height: 0.55rem;
    background-color: lightskyblue;
    border: 0;
    border-radius: 0.3rem;
}

/* 图片验证码图片 */
#imgCodeBtn {
    float: right;
    width: 1.5rem;
    height: 0.55rem;
}

.register-button {
    margin-top: 0.2rem;
    height: 1rem;
}

.register-btn {
    width: 1.6rem;
    height: 0.8rem;
    margin-left: 2.2rem;
    margin-top: 0.3rem;
    font-size: 0.35rem;
    color: aliceblue;
    background-color: deepskyblue;
    border: 0;
    border-radius: 0.3rem;
}

.bottom-content {
    position: absolute;
    top: 9.3rem;
    left: 60%;
    margin-left: -5rem;
    width: 10rem;
}