#{
    magrin: 0;
    padding: 0;
},

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
    display: inline;
}

.top-content {
    height: 1.2rem;
    background-color: skyblue;
}

.top-left {
    margin: 0.3rem 0;
    float: left;
    width: 3rem;
}

.top-left-title {
    float: left;
    font-size: 0.4rem;
    font-family: 微软雅黑, serif;
    color: brown;
}

.middle {
    height: 10rem;
    background-color: aqua;
    background-image: url("https://pixabay.com/get/g16f5a7096fb35bf8af8af622b794c6a4b60ef6fdc5ef5d03233bad0e7d65e36f0145fcfeb812e38edfda62ab8a0cf45486f9b4a19203aabb23408fcbc75c0d37_1280.jpg");
}

.middle-container {
    display: -webkit-flex;
    display: flex;
    position: relative;
    top: 0.5rem;
    left: 50%;
    margin-left: -8rem;
    height: 8rem;
    width: 16rem;
}

.frame-register {
    position: relative;
    left: 50%;
    margin-left: -3rem;
    width: 6rem;
    background-color: white;
    box-shadow: 0 0 1rem deepskyblue;
}

.register-title {
    font-size: 0.4rem;
    font-family: 微软雅黑, serif;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 0.5rem;
}

.register-input {
    margin-left: 1rem;
    margin-top: 0.3rem;
    height: 0.8rem;
    width: 4rem;
}

.register-text {
    width: 3.6rem;
    height: 0.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-size: 0.3rem;
    font-family: 微软雅黑, serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
    /*opacity: 0.1;*/
}

.register-password {
    width: 3.2rem;
    padding-right: 0.6rem;
}

.pas-eye {
    position: absolute;
    left: 4.5rem;
    top: 2.7rem;
    width: 0.4rem;
    height: 0.4rem;
}


.little-tips {
    margin-top: 0.05rem;
    font-size: 0.15rem;
    color: darkolivegreen;
}

/* 验证码输入框 */
.verifyCode {
    width: 1.8rem;
    height: 0.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-size: 0.25rem;
    font-family: 微软雅黑, serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

/* 邮箱验证码按钮 */
.emailCodeBtn{
    float: right;
    /*margin-right: 0.2rem;*/
    width: 1.5rem;
    height: 0.55rem;
    background-color: cyan;
    border: 0;
    border-radius: 0.1rem;
}

/* 图片验证码图片 */
#imgCodeBtn {
    float: right;
    /*margin-right: 0.2rem;*/
    width: 1.5rem;
    height: 0.55rem;
}

.register-button {
    margin-top: 0.2rem;
    height: 1rem;
}

.register-btn {
    width: 2rem;
    height: 0.8rem;
    margin-left: 2rem;
    font-size: 0.3rem;
    font-family: 微软雅黑, serif;
    color: floralwhite;
    border: 0;
    background-color: deepskyblue;
}

.bottom-content {
    height: 0;
    background-color: aliceblue;
    child-align: middle;
}


/*———————————————————— 登录页面 ————————————————————*/

.frame-login {
    position: relative;
    left: 50%;
    margin-left: -3rem;
    width: 6rem;
    height: 6rem;
    background-color: white;
    box-shadow: 0 0 1rem deepskyblue;
}

.login-title {
    font-size: 0.4rem;
    font-family: 微软雅黑, serif;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 0.5rem;
}

.login-input {
    margin-left: 1rem;
    margin-top: 0.3rem;
    height: 0.8rem;
    width: 4rem;
}

.login-text {
    width: 4rem;
    height: 0.5rem;
    font-size: 0.3rem;
    font-family: 微软雅黑, serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.login-btn {
    width: 1.6rem;
    height: 0.8rem;
    margin-left: 2.2rem;
    margin-top: 0.2rem;
    border-radius: 0.05rem;
    font-size: 0.4rem;
    color: aliceblue;
    /*font-family: 微软雅黑, serif;*/
    background-color: deepskyblue;
    border: 0;
}

.login-littleText {
    width: 4rem;
    height: 0.5rem;
    margin-left: 1rem;
    margin-top: 0.1rem;
    text-align: center;
}