#{
    magrin: 0;
    padding: 0;
},
ul {
    list-style-type: none;
}

li {
    list-style-type: none;
    display: inline;
}

.top-content {
    height: 1.2rem;
    background-color: skyblue;
}

.top-left {
    margin: 0.3rem 0;
    float: left;
    width: 3rem;
}

.top-left-title {
    float: left;
    font-size: 0.4rem;
    font-family: 微软雅黑, serif;
    color: brown;
}

.middle {
    height: 9rem;
    background-color: aqua;
}

.middle-container {
    display: -webkit-flex;
    display: flex;
    position: relative;
    top: 0.5rem;
    left: 50%;
    margin-left: -8rem;
    height: 8rem;
    width: 16rem;
}

.frame-register {
    position: relative;
    left: 50%;
    margin-left: -3rem;
    width: 6rem;
    background-color: white;
    box-shadow: 0 0 1rem deepskyblue;
}

.register-title {
    font-size: 0.4rem;
    font-family: 微软雅黑, serif;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 0.5rem;
}

.register-input {
    margin-left: 1rem;
    margin-top: 0.15rem;
    height: 0.8rem;
    width: 4rem;
}

.register-text {
    width: 4rem;
    height: 0.5rem;
    font-size: 0.3rem;
    font-family: 微软雅黑, serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.little-tips {
    margin-top: 0.05rem;
    font-size: 0.15rem;
    color: darkolivegreen;
}

/* 验证码输入框 */
.verifyCode {
    width: 2rem;
    height: 0.5rem;
    font-size: 0.25rem;
    font-family: 微软雅黑, serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
/* 验证码图片 */
#imgVerifyCode {
    float: right;
    margin-right: 0.2rem;
    width: 1.5rem;
    height: 0.5rem;
}

.register-button {
    margin-top: 0.5rem;
    height: 1rem;
}

.register-btn {
    width: 2rem;
    height: 0.8rem;
    margin-left: 2rem;
    font-size: 0.3rem;
    font-family: 微软雅黑, serif;
    color: floralwhite;
    border: 0;
    background-color: deepskyblue;
}

.bottom-content {
    height: 0;
    background-color: aliceblue;
    child-align: middle;
}