#{
    magrin: 0;
    padding: 0;
},
ul {
    list-style-type: none;
}

li {
    list-style-type: none;
    display: inline;
}

.top-content {
    height: 1.2rem;
    background-color: skyblue;
}

.top-left {
    margin: 0.3rem 0;
    float: left;
    width: 3rem;
}

.top-left-title {
    float: left;
    font-size: 0.4rem;
    font-family: 微软雅黑;
    color: brown;
}

.middle {
    height: 9rem;
    background-color: aqua;
}

.middle-container {
    display: -webkit-flex;
    display: flex;
    /*弹性框*/
    position: relative;
    top: 0.5rem;
    left: 50%;
    margin-left: -8rem;
    height: 8rem;
    width: 16rem;
    /*background-color: deepskyblue;*/
}

.middle-images {
    float: left;
    /*height: 480px;*/
    /*width: 480px;*/
}

.middle-pic {
    /*height: 480px;*/
    /*width: 480px;*/
}

.frame-login {
    /*float: left;*/
    /*margin-top: 40px;*/
    /*height: 400px;*/
    /*width: 320px;*/
    /*margin-left: 80px;*/
    position: relative;
    left: 50%;
    margin-left: -3rem;
    width: 6rem;
    background-color: white;
    box-shadow: 0 0 1rem deepskyblue;
    /*margin: 80px;*/
}

.login-title {
    font-size: 0.4rem;
    font-family: 微软雅黑;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 0.5rem;
}

.login-input {
    margin-left: 1rem;
    margin-top: 0.15rem;
    height: 0.8rem;
    width: 4rem;
    /*border: 1px solid rgba(0,0,0,0,5);*/
}

.login-text {
    width: 4rem;
    height: 0.5rem;
    font-size: 0.3rem;
    font-family: 微软雅黑;
    /*color: grey;*/
    border: 1px solid rgba(0, 0, 0, 0.3);
    /*border: 1px solid rgba(0,0,0,0,5);*/
}

.little-tips {
    margin-top: 0.05rem;
    font-size: 0.15rem;
    color: darkolivegreen;
    /*display: none;*/
}

.vercode {
    /*float: left;*/
    width: 2rem;
    height: 0.5rem;
    font-size: 0.25rem;
    font-family: 微软雅黑;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.email-btn {
    /*float: right;*/
    margin-left: 0.15rem;
    margin-top: 0.05rem;
    /*margin-right: 0.1rem;*/
    height: 0.4rem;
    width: 1.5rem;
    background-color: lightskyblue;
    border: 0;
}

.img-text {
    /*margin-top: -0.2rem;*/
}

#imgVerifyCode {
    float: right;
    margin-right: 0.2rem;
    width: 1.5rem;
    height: 0.5rem;
}

#error_msg {
    display: none;
}

/*.login-littleText {*/
/*    margin-left: 1rem;*/
/*    width: 5rem;*/
/*    margin-top: 0.05rem;*/
/*    height: 1rem;*/
/*    background-color: grey;*/
/*}*/

/*.login-error {*/
/*    float: left;*/
/*    margin-top: 4px;*/
/*    font-size: 12px;*/
/*    color: red;*/
/*    !*display: none;*!*/
/*}*/

/*.login-register {*/
/*    float: right;*/
/*}*/

/*.login-re {*/
/*    font-size: 0.1rem;*/
/*    color: grey;*/
/*}*/

.login-button {
    margin-top: 0.5rem;
    height: 1rem;
}

.login-btn {
    width: 2rem;
    height: 0.8rem;
    margin-left: 2rem;
    font-size: 0.3rem;
    font-family: 微软雅黑;
    color: floralwhite;
    border: 0;
    background-color: deepskyblue;
}

.re-login {
    margin-top: 1rem;
}

.bottom-content {
    height: 1.2rem;
    background-color: aliceblue;
}
