<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/imgVerifyCode.jpg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.bear.bookhouse.web.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>com.bear.bookhouse.web.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/bookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FavoriteServlet</servlet-name>
        <servlet-class>com.bear.bookhouse.web.FavoriteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FavoriteServlet</servlet-name>
        <url-pattern>/favoriteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>com.bear.bookhouse.web.TransferServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/transferServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>com.bear.bookhouse.web.AjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/ajaxServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RecordServlet</servlet-name>
        <servlet-class>com.bear.bookhouse.web.RecordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecordServlet</servlet-name>
        <url-pattern>/recordServlet</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/pages/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/pages/error/500.jsp</location>
    </error-page>
</web-app>